<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload To Cloudinary</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>

    <div class="container mt-4">
        <h1 class="mb-4">UPLOAD AN IMAGE</h1>

        <p class="text-success"><%= typeof success_msg != 'undefined' ? success_msg : '' %></p>
        <p class="text-danger"><%= typeof error_msg != 'undefined' ? error_msg : '' %></p>

        <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" class="form-control-file" id="imageFile" name="imageFile">
            </div>
            <button class="btn btn-primary" type="submit">Upload</button>
        </form>

        <hr>

        <!-- All images -->
        <% if(typeof imgs != 'undefined') { %>
            <div class="row">
                <% for(img of imgs) { %>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 my-4 d-flex  flex-column">
                        <img src="<%= img.url %>"
                            class="img-fluid rounded-top mb-1" alt="Responsive image">
                        <a type="button" class="btn btn-danger btn-md btn-block rounded-0" href="./delete/<%= img.imgId %>">Delete</a>
                    </div>
                <% } %>
            </div>
        <% } %>

    </div>


    <!-- bootstrap script -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>